table {
    border-spacing: 0;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

td,
th,
caption {
    border: 1px solid black;
}
caption {
    border-bottom: none;
    font-weight: 700;
}

.weekend {
    color: red;
}